# Ignore temp files from other editors
~*

# Ignore pycache
*.pyc

# Ignore water files, need to be downloaded manually
heat_data/water/*

# Ignore database file, too large and easily recreated
mta_data.db
data_backup/mta_data.db

# Ignore powerpoint files
final_pres/*.pptx
final_pres/qr-code.png

# Ignore scratchwork jupyter notebook
mta_heat.ipynb

